@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    html {
        font-size: 45%!important;
    }
    .header_top {
        gap: 0 30px;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 16px 16px 14px 16px;
    }
    .icon_header {
        font-size: 20px;
        color: var(--black-color);
    }
    .header_menu,
    .sidebar-btn_login,
    .sidebar_cart,
    .sidebar-login {
        display: block!important;
        border: none;
    }
    .sidebar-login {
        border: none;
        transform: translateX(6px);
        -webkit-transform: translateX(6px);
        -moz-transform: translateX(6px);
        -ms-transform: translateX(6px);
        -o-transform: translateX(6px);
    }
    .sidebar_cart-checkout {
        width: unset;
        height: unset;
        background-color: unset;
    }
    .header_top-sidebar {
        display: none;
    }
    .header_top-logo {
        width: 18.5rem;
        flex: 1;
    }
    .content_wrapper-menu {
        display: none;
    }
    .wrapper_slide-img {
        width: 390px;
        height: 450px;
    }
    .img_slider-wrap {
        justify-content: center;
        align-items: center;
    }
    .img_slider-wrap img {
        width: 100%;
        height: 400px;
    }
    .organic_service {
        width: 100%;
        height: unset;
    }
    .organic_service-content {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .service_item-text {
        font-size: 2.8rem;
    }
    .service_content-item {
        border: none;
    }
    .service_content-item:nth-child(2) {
        padding-right: 35px;
    }
    .service_content-item:nth-child(3) {
        gap: 0 50px;
    }
    .product_wrapper-text_desc {
        font-size: 2rem;
        text-align: center;
        padding: 0 20px;
    }
    .product_wrapper-tab {
        font-size: 2rem;
    }
    .product_card {
        width: 100%;
        margin: 40px 0;
    }
    #btn_quickwiew,
    .product_name,
    .product_price {
        font-size: 2rem;
    }
    .product_name {
        font-weight: 600;
    }
    .product_card-desc {
        padding-top: 54px;
        font-size: 1.8rem;
    }
    .product_card-img {
        width: 100%;
    }
    .product_araival,
    .product_popular,
    .product_featured {
        padding: 0 25px;
        display: none;
    }
    .slide_img {
        display: flex;
    }
    nav {
        display: none;
    }
    .nav_menu {
        flex-direction: column;
        width: 100%;
    }
    .nav_menu-link {
        border: none;
    }
    .nav_gift-card {
        display: none;
    }
    .push_overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #000;
        z-index: 1000;
        display: none;
        opacity: 0.8;
    }
    .menu-mobile {
        top: 0;
        height: 100%;
        min-height: 100%;
        z-index: 9999;
        overflow-x: hidden;
        overflow-y: auto;
        width: 336px;
        background: #f6f6f8;
        transform: translateX(-340px);
        -webkit-transform: translateX(-340px);
        -moz-transform: translateX(-340px);
        -ms-transform: translateX(-340px);
        -o-transform: translateX(-340px);
        opacity: 0;
    }
    .push_menu {
        position: fixed!important;
        top: 0;
        height: 100%;
        min-height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 999999;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        animation: fadeIn 0.3s ease;
        -webkit-animation: fadeIn 0.3s ease;
        opacity: 1;
        display: block!important;
        transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
    }
    @keyframes fadeIn {
        from {
            transform: translateX(-340px);
            opacity: 0;
            -webkit-transform: translateX(-340px);
            -moz-transform: translateX(-340px);
            -ms-transform: translateX(-340px);
            -o-transform: translateX(-340px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
            -webkit-transform: translateX(0px);
            -moz-transform: translateX(0px);
            -ms-transform: translateX(0px);
            -o-transform: translateX(0px);
        }
    }
    .menu-mobile .menu-mobile-top h3 {
        color: azure;
        text-align: center;
        padding: 24px 0;
        line-height: 0px;
    }
    .menu-mobile-top {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-mobile-top .bi-x-lg {
        color: azure;
        font-size: 20px;
        transform: translateX(120px);
        -webkit-transform: translateX(120px);
        -moz-transform: translateX(120px);
        -ms-transform: translateX(120px);
        -o-transform: translateX(120px);
    }
    .nav_menu-item {
        padding: 20px 0;
    }
    .nav_menu-link {
        color: black;
        font-size: 2.5rem;
    }
}